.sys-header {
  background-color: #5e7ce0;
  color: #ffffff;
  font-size: 1.5dvi;
  padding: 1dvi;
}

.page-name {
  margin-left: 4dvi;
  font-size: 1.3dvi;
}

.logout {
  position: absolute;
  right: 3dvi;
  top: 1.4dvi;
  font-size: 1dvi;
  cursor: pointer;
}
