<div>
  <div>
    <d-data-table
      [dataSource]="departmentListData"
      [scrollable]="true"
      [tableWidthConfig]="tableWidthConfig"
      [tableOverflowType]="'overlay'"
    >
      <thead dTableHead>
        <tr dTableRow>
          <th dHeadCell></th>
          <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">
            {{ colOption.header }}
          </th>
        </tr>
      </thead>
      <tbody dTableBody>
        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
          <tr dTableRow>
            <td dTableCell>{{ rowIndex + 1 }}</td>
            <td dTableCell *ngFor="let colOption of dataTableOptions.columns">
              {{ rowItem[colOption.field] }}
            </td>
            <td dTableCell>
              <div
                (click)="openEditDepartment(rowItem['departmentId'])"
                style="color: blue; cursor: pointer"
              >
                编辑
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </d-data-table>
  </div>
</div>

<ng-template
  #editDepartment
  let-modalInstance="modalInstance"
  let-modalContentInstance="modalContentInstance"
>
  <app-edit-department
    (selectedStaffIdEvent)="selectedStaff($event)"
    [selectDepartmentId]="selectDepartmentId"
    [modalInstance]="modalInstance"
    [modalContentInstance]="modalContentInstance"
  ></app-edit-department>
</ng-template>
