.header {
  padding: 2dvi 2dvi 0 2dvi;
  height: 3dvi;
  position: relative;
  border: none;
  font-size: 1.2dvi;
  font-weight: bold;
  vertical-align: middle;
}

.body {
  padding: 2dvi;
}

.footer {
  border-top: none;
  padding-bottom: 2dvi;
  text-align: center;
}
