<div [dMovable]="true" [handle]="header" [moveEl]="parent">
  <div class="header" #header>销售明细</div>
  <div class="body">
    <d-data-table
      [dataSource]="saleDetailList"
      [scrollable]="true"
      [tableWidthConfig]="tableWidthConfig"
      [tableOverflowType]="'overlay'"
    >
      <thead dTableHead>
        <tr dTableRow>
          <th dHeadCell></th>
          <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">
            {{ colOption.header }}
          </th>
        </tr>
      </thead>
      <tbody dTableBody>
        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
          <tr dTableRow>
            <td dTableCell>{{ rowIndex + 1 }}</td>
            <td dTableCell *ngFor="let colOption of dataTableOptions.columns">
              {{ rowItem[colOption.field] }}
            </td>
          </tr>
        </ng-template>
      </tbody>
    </d-data-table>
  </div>
  <div class="footer">
    <d-button (btnClick)="close($event)" bsStyle="primary" circled="true"
      >关闭</d-button
    >
  </div>
</div>
